/* Write your global styles here, in PostCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
@tailwind base;
@tailwind components;
@tailwind utilities;
